.item {
  width: 200px;
  max-height: 300px;
  text-align: center;
  margin: 10px;
  padding-bottom: 6px;
}

.item__image {
  width: 200px;
  height: 200px;
}

.item__image--round {
  border-radius: 50%;
}

.item__title,
.item__subtitle {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.item__title {
  font-weight: 700;
  margin-top: 8px;
}

.item__subtitle {
  margin-top: 2px;
  font-weight: 300;
}

.item__subtitle__link:hover {
  text-decoration: underline;
}

.item__title,
.item__subtitle {
  text-transform: capitalize;
}

.item--loading {
  width: 200px;
  text-align: center;
  margin: 10px;
}

.item--error {
  width: 200px;
  max-height: 300px;
  text-align: center;
  margin: 10px;
}

.item--error__icon {
  background: #eff1f6;
  color: white;
  font-size: 24px;
  padding: 15px;
}

.item--error__message {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
  font-weight: 700;
  margin-top: 8px;
}
