{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@auth": "./src/auth",
          "@components": "./src/components",
          "@containers": "./src/containers",
          "@services": "./src/services",
          "@assets": "./src/shared/assets",
          "@constants": "./src/shared/constants",
          "@hoc": "./src/hoc",
          "@hook": "./src/hook",
          "@interfaces": "shared/interfaces/*",
          "@rdx": "./src/shared/rdx",
          "@routes": "./src/shared/routes",
          "@shared": "./src/shared",
          "@shared-components": "./src/shared/components",
          "@shared-containers": "./src/shared/containers",
          "@themes": "./src/shared/themes",
          "@shared-types": "./src/shared/types",
          "@utils": "./src/shared/utils"
        }
      }
    ]
  ]
}
