.grid-item {
  width: 200px;
  max-height: 300px;
  text-align: center;
  margin: 10px;
  padding-bottom: 6px;
}

.grid-item__image {
  width: 200px;
  height: 200px;
}

.grid-item__image--rounded {
  border-radius: 50%;
}

.grid-item__title,
.grid-item__subtitle {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.grid-item__title {
  font-weight: 700;
  margin-top: 8px;
}

.grid-item__subtitle {
  margin-top: 2px;
  font-weight: 300;
}

.grid-item__title,
.grid-item__subtitle {
  text-transform: capitalize;
}
